body {
   font-family: 'OPENDYSLEXICALTA';
   font-weight: bold;
   font-style: normal;
   font-size: 150%;
   background-color: #1c2833;
   color: #f4b350;
}

.linkToTop {
  text-decoration: none;
  color: inherit;
}

table {
  width: 100%;
  text-align: left;
  margin-top: 30px;
}

th {
  padding: 5px;
  border-left: 3px solid black;
}

td {
  padding: 5px;
  border: 3px solid black;
}

.container {
  width: 95%;
}
