body {
   font-family: 'OPENDYSLEXICALTA';
   font-weight: bold;
   font-style: normal;
   font-size: 150%;
   background-color: #1c2833;
   color: #ffd700;
   margin-bottom: 40px;
}

#title {
  width: 100%;
  background-color: #708080;
  padding: 20px;
  text-align: center;
  font-family: 'Fugaz One', cursive;
}

h1 {
  font-size: 90px;
  text-shadow: 2px 3px #1c2833;
}

select, input {
  color: #343538;
}

.linkToTop {
  text-decoration: none;
  color: inherit;
}

table {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

td, th {
  padding: 5px;
  border: 4px solid black;
}

#tableHeader {
  font-size: 150%;
  background-color: #708080;
}

.container {
  width: 95%;
}

.formButton {
  background-color: #708080;
  padding: 3px;
}

.saveButton {
  background-color: #1c2833;
  padding: 10px;
}

.form {
  width: 60%;
  background-color: #708080;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.row {
  margin-bottom: 20px;
}
